* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2a2a2a;
}

header {
    width: fit-content;
    padding: 0 40px;
    margin: 15px;
    border-radius: 10px;
    background-color: white;
}

nav a {
    transition: .8s;
    margin: 0 10px;
    padding: 10px;
    border-radius: 70%;
    color: black;
}

a:hover {
    transition: 1s;
    transform: translateY(-20px);
    box-shadow: 0 0 0 8px #2a2a2a;
    background-color: rgb(0, 204, 255);
    color: white;
}